*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
}

nav {
  display: flex;
  background:#0f1111;
  backdrop-filter: blur 4px;
  align-items: center;
  justify-content:space-around;
  box-shadow: 0 16px 10px -18px #1D1C21;
  padding:1rem
  border-radius: 5px;
}
body {
background-color:#16282E;
}

.logo {
  height: 40%;
  
}


ul a {
  color:#e9e7f1;
  text-decoration:solid
  
    
  
}


ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  margin:0 
   } 

